<md-tab-group>
    <md-tab label="Split Receipt">
        <app-split-receipt></app-split-receipt>
    </md-tab>
    <md-tab label="Add Receipt">
      <add-receipt [billTypes]=billTypes [stores]=stores></add-receipt>
    </md-tab>
    <md-tab label="Overview">
        <p>Allowance</p>
        <p>Current Month</p>
        <p>Last Month</p>
    </md-tab>
    <md-tab label="Search">
        <app-search-purchases></app-search-purchases>
    </md-tab>
    <md-tab label="Review Statement">
        <p>Upload bankstatement ...</p>
        <p>Walk through each line ...</p>
    </md-tab>
  </md-tab-group>
