<md-tab-group>
    <md-tab label="Add Receipt">
      <add-receipt [billTypes]="billTypes"></add-receipt>
    </md-tab>
    <md-tab label="Overview">
        <p>Allowance</p>
        <p>Current Month</p>
        <p>Last Month</p>
    </md-tab>
    <md-tab label="Search">
        <app-search-purchases [billTypes]="billTypes"></app-search-purchases>
    </md-tab>
    <md-tab label="Review Statement">
        <p>Upload bankstatement ...</p>
        <p>Walk through each line ...</p>
    </md-tab>
  </md-tab-group>
