<div class="add-form">
  <form id="add-form" >
      <table class="example-full-width" cellspacing="0" class="controls1">
        <tr><td>
            <md-input-container>
              <input mdInput placeholder="Store Name" name="storename">
            </md-input-container>
          </td></tr>

          <tr><td>
            <md-input-container>
              <input mdInput placeholder="Cost" name="cost" type="number" step="0.01">
            </md-input-container>
          </td></tr>
          <tr><td>
            <md-input-container>
                <input mdInput id="date" type="date">
            </md-input-container>
          </td></tr>
          <tr><td>
            <md-input-container>
              <input mdInput placeholder="Bill Type" name="billType">
            </md-input-container>
          </td></tr>
          <tr><td>
          <md-select placeholder="Favorite food">
              <md-option *ngFor="let food of foods" [value]="food">
                {{ food }}
              </md-option>
            </md-select>
          </td></tr>
          <tr><td>
            <md-input-container class="md-block">
                <label>Notes</label>
                <textarea mdInput ng-model="user.biography" md-maxlength="150" rows="3" md-select-on-focus></textarea>
              </md-input-container>
          </td></tr>
      </table>
      <div class="buttons">
        <span>
          <button id="save-button" type="submit">SAVE</button>
          <button id="cancel-button">CLOSE</button>
        </span>
      </div>
    </form>
</div>
