<div class="add-form">
    <form id="add-form" >
        <table class="example-full-width" cellspacing="0" class="controls1">
          <tr><td>
              <md-input-container>
                <input mdInput placeholder="Store Name" name="storename">
              </md-input-container>
            </td></tr>
  
            <tr><td>
              <md-input-container>
                <input mdInput placeholder="Cost" name="cost" type="number" step="0.01">
              </md-input-container>
            </td></tr>
            <tr><td>
              <md-input-container>
                  <input mdInput placeholder="Start Date" id="date" type="date">
              </md-input-container>
            </td></tr>
            <tr><td>
                <md-input-container>
                    <input mdInput placeholder="End Date" id="date" type="date">
                </md-input-container>
              </td></tr>
            <tr><td>
            <md-select placeholder="Bill Type">
                <md-option *ngFor="let billType of billTypes" [value]="billType">
                  {{ billType.name }}
                </md-option>
              </md-select>
            </td></tr>
        </table>
        <div class="buttons">
          <span>
            <button id="save-button" type="submit">Search</button>
          </span>
        </div>
      </form>
  </div>
  <div>
    <pre>{{billTypes | json}}</pre>
  </div>
